*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0; /*red = 0*/
  --hue-correct: 120; /*green*/
}

body {
  font-size: 1.5rem;
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}
/* hsl colors hsl(hue,saturation, lightness) */

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 400px;
  max-width: 80%;
  background-color: grey;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 15px 2px; /* x-offset y-offset blur spread */
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /*2 columns*/
  gap: 15px;
  margin: 20px 0; /* 20 in top and bottom , 0 on left and right*/
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 40%);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 1.3rem;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
